* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins, Haettenschweiler, 'Arial Narrow Thin', sans-serif;
}
#name{
    font-weight: 900;
    font-size: 25px;
}
.active {
    color: #6a59d1;
}

a{
    text-decoration: none;
    color:#0e2431;

}

#menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#menu a:hover{
    color: #6a59d1 ;
}

nav {
		display: flex;
		justify-content:space-evenly;
		align-items: center;
		flex-direction: row;
		padding: 20px;
		backdrop-filter: blur(20px);
		transition: .6s ease;
}


.flex-center{
    display: flex;
    justify-content: start;
    align-items: center;
}


main {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0 8px;
	align-self: center;
	max-width: 1800px;
}

#biographie {
	height: 50%;
}

#contenu {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin: 0 auto;
	padding: 0 8px;
}

#titre {
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: -0.03em;
	max-width: 300px;
}


.carte {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 16px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	max-width: 300px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.carte h2 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 28px;
}

.pu {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 500;
	color: rgb(75 85 99);
}

.au {
	font-size: 14px;
	font-weight: 400;
	color: rgb(75 85 99);
}

.badge {
	align-items: center;
	gap: 8px;
	margin-top: 6px;
	font-size: 12px;
	font-weight: 500;
	background-color: black;
	color: white;
	border-radius: 30px;
	display: inline-block;
	padding: 1px 8px;
}


#chronologie {
	display: flex;
	gap: 16px;
}

.logo {
	height: 40px;
	margin-bottom: 12px;
}

#titresection {
    padding-top: 60px;
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 0.02em;
	line-height: 28px;
	margin-bottom: 30px;
}

#descsection {
	font-size: 16px;
	font-weight: 400;
	color: rgb(75 85 99);
	line-height: 24px;
	margin-bottom: 28px;
}